<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/header.css">
    <header class="header" id="nav">
        <div class="container header__container">
            <nav class="header__nav">
                <ul class="menu header__menu">
                    {% if current_user.is_authenticated %}
                    <li>
                        <a href="/job" class="btn btn-secondary">Добавить работу</a>
                        <a href="/view" class="btn btn-secondary">Текущие работы</a>
                        <a href="/new_department" class="btn btn-secondary">Добавить департамент</a>
                        <a href="/departments" class="btn btn-secondary">Текущие департаменты</a>
                        <a class="navbar-brand" href="/logout">
                            {{ current_user.name }} {{ current_user.surname }}</a>
                    </li>
                    {% else %}
                    <li><a class="btn btn-primary" href="/login">Вход</a></li>
                    <li><a class="btn btn-success" href="/register">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
</head>
<body>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>