{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/progress_bar.css">
<form action="" method="POST" class="form" enctype=multipart/form-data>
    <h1>Загрузить видео</h1>
    {{ form.hidden_tag() }}
    <div class="form-group">
        <p>
            {{ form.file.label }}<br>
            <input type="file" class="form-control-file" id="photo" name="file">
            {% for error in form.file.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
    </div>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <div class="form-group">
        <p>
            {{ form.preview.label }}<br>
            <input type="file" class="form-control-file" id="preview" name="preview">
            {% for error in form.preview.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}

    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>

    <div id="status"></div>
</form>
<script src="../static/js/progress_bar.js"></script>
{% endblock %}
